@using System.Collections.Specialized
@{
    ViewData["Title"] = "Home Page";
}

@section Style {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/groups.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

}

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyA3lipjX8Xa23qd2PEBNl1mqQyI_zMqChk",
			authDomain: "deckalchemist.firebaseapp.com",
			databaseURL: "https://deckalchemist.firebaseio.com/",
			projectId: "deckalchemist",
			storageBucket: "deckalchemist.appspot.com",
			messagingSenderId: "560047522639"
		};
		firebase.initializeApp(config);
    </script>
    <script src="~/js/groups.js"></script>
}


@section SidebarOptions {
    <li><a href="#">My Collections</a></li>
    <li><a href="#">Decks</a></li>
    <li><a href="#">Social</a></li>
    <li><a href="#">Meta Analytics</a></li>
    <li><a href="#">Settings</a></li>
}


    <div class="home-content container">
        <div class="row table-actions">
            <button id="Groups" data-toggle="groups" data-target="#groupsButton" type="button" class="btn btn-success btn-outline table-btn">Groups</button>
        </div>
        <div class="row" style="padding: 50px 0">
            <div class="col">
                <table class="groupInfoTable" id="groupInfoTable">
                    <tr>
                        <td class="groupInfoTableItem">
                            <a style="width: 100%;" data-toggle="collapse" href="#collapseExample" role="button">
                                Group1
                            </a>
                            <div class="collapse" id="collapseExample">
                                A bunch of friends
                            </div>
                        </td>
             
                    </tr>
                </table>
            </div>
            <div class="col">

            </div>
            
        </div>
    </div>
