.groupInfoTable {
    border: solid;
    border-width: thin;
    width: 100%;
    height: 100%;
}

.row.app-content {
    width:100%;
    margin-left: 1px;

}

.home-content {
    height: 100%;
}

.groupInfo {
    border-right: solid;
    border-width: thin;
    border-right-color: #d7d7d7;
}

.new-group-content {
    border-width: thin;
    border-top-style: solid;
    border-top-color: #d7d7d7;
    margin-right: 0.2rem;
    padding-top: 0.3rem

}


.chat-window {
    height:100%;
    width:100%;
}

#group-chat-placehold {
    width: 100%;
    height: 100%;
}

.loan-button {
    font-size: 0.6rem;
    height: 1.7rem;
    margin-left: 0.7rem;
    float:right;
}

.invite-user-button {
    
}

.group-member-name {
    margin-left: 1rem;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.group-member-self {
    cursor: not-allowed;
}

.group-header {
    margin-top: 0.7rem;
}

.group-user-row {
    margin-top: 0.7rem;
}

.bootstrap-table {
    max-width:100%;
}

.error-text {
    color: red;
    font-size: small;
}